{% extends "template_base.html" %}

{% block contents %}
    <title>Contato</title>

<body>

<!--Contato-->
<div class="contato">
    <h1>Contato</h1>
    <hr>
    <h3>Entre em contato</h3>
    <form>
        <label for="fname">Nome:</label><br>
        <input type="text" id="fname" placeholder="Digite seu nome"><br><br>
        <label for="femail">Email:</label><br>
        <input type="email" id="femail" placeholder="Digite seu e-mail"><br><br>
        <label for="fmensagem">Mensagem:</label><br><br>
        <textarea id="fmensagem" cols="30" rows="10" placeholder="Digite sua mensagem"></textarea>
     <div class="btnv" >
        <button class="btn btn-outline-danger" >Enviar</button></div> 
    </form>
</div>
<!--Redes Sociais-->
<div class="redes">
    <h1>Redes Sociais</h1>
    <hr>
    <a href="https://www.linkedin.com/in/vitorgarcezdeoliveira/">Clique aqui para conhecer meu Linkedin</a><br><br>
    <a href="https://github.com/Vitaog">Clique aqui para conhecer meu GitHub</a>  
</div>
    
</body>
{% endblock %}