{% extends "template_base.html" %}

{% block contents %}
    <title>Projetos</title>
<body>

<!--Projetos Desenvolvidos e Pretendidos-->
<div class="projetos">
        <h1>Projetos Desenvolvidos</h1>
        <ul>
            <li>SpiceBank</li>
            <li>Projeto 2</li>
            <li>Projeto 3</li>
        </ul>
        <hr>
        <h1>Projetos que pretendo desenvolver</h1>
        <ul>
            <li>Projeto 1</li>
            <li>Projeto 2</li>
            <li>Projeto 3</li>
        </ul>
</div>

</body>
{% endblock %}